version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: weekly
      day: sunday
    groups:
      minor-and-patch-updates:
        update-types:
          - minor
          - patch
