version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: daily
    groups:
      minor-and-patch-updates:
        update-types:
          - minor
          - patch
      major-updates:
        update-types:
          - major
    commit-message:
      prefix: "Maven Update"
