name: CI Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Get Next Version
      id: semver
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: ietf-tools/semver-action@v1
      with:
        token: ${{ github.token }}
        branch: main

    - name: Print version
      id: print-version
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: echo ${{ steps.semver.outputs.next }}
